html, body{
    box-sizing: border-box;
    background-color: #000000;
    margin: 0;
}

a.text:active, /* для активной/посещенной ссылке */
a.text:hover,  /* при наведении */
a {
  text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

/* ------ шапка ------ */

.header {
    width: 100%;
    height: 90px;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    max-width: 1168px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.header-logo {
    display: flex;
    width: 300px; /* ? */
    height: 100%;
    
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.header-logo a {
    color: #ffffff;
}


.navigation {
    display: flex;
    align-items: center;
    background-color: #000000;
}

.navigation__btn {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navigation__btn:hover {
    color: #cfcfcf;
}

.navigation__btn__white {
    width: 155px;
    height: 42px;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navigation__btn__white:hover {
    background-color: #cfcfcf;
}


/* ---------- основной контент ------------ */

.main {
    width: 100%;
}

.sctn__first {
    width: 100%;
    height: 49.7vw;
    background-image: url(images/image-main-first.svg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end; 
    align-items: center;
}


.sctn__first__block1 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
    letter-spacing: 2px;
}

.sctn__first__block2 {
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.sctn__first__block3 {
    max-width: 580px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
    line-height: 20px;
    text-align: center;
}

.sctn__first__block4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #000000; /* - */
    color: #FFFFFF;
    align-items: center;
    justify-content: right;
    
}

#sctn__first__label {
    margin-right: 50px;
}

.first__block4__label {
    display: flex;
    margin-left: 18px;
}

.first__block4__label div {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 6px;
}
/* вторая секция */
.sctn__second {
    padding-top: 110px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end; 
    align-items: center;
}

.sctn__second__block1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.sctn__second__block2 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}


/* третья секция */
.sctn__third {
    width: 1168px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.sctn__third__card {
    max-width: 576px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end; 
    padding-left: 30px;
}

.card__block1 {
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card__block2 {
    margin-right: 45px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}

.card__block3 {
    width: 160px;
    height: 42px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.card__block3__circle {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    background-color: #000000;
    margin-right: 5px;
}

.card__block3__text {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    color: #000000;
}


#card1 {
    background-image: url(images/sec-3-card-1.svg);
}

#card2 {
    background-image: url(images/sec-3-card-2.svg);
}

#card3 {
    background-image: url(images/sec-3-card-3.svg);
}

#card4 {
    background-image: url(images/sec-3-card-4.svg);
}

/* секция 4 */
.sctn__fourth {
    width: 100%;
    height: 41.66vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(images/image-main-fourth.svg);
    background-size: cover;
}

.sctn__fourth__block1 {
    max-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 50px;
    margin-top: 10%;
}

.fourth__block1__head {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.fourth__block1__text {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}

.sctn__fourth__block2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    align-items: center;
    justify-content: right;
}

#sctn__fourth__label {
    margin-right: 50px;
}

/* секция 5 */
.sctn__fifth {
    width: 100%;
    display: flex;
}

.sctn__fifth__left {
    width: 50%;
    height: 37.5vw;
    /* background-color: #C0C0C0; */
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
}

.fifth__left__prg1 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #C0C0C0;
    text-transform: uppercase;
}

.fifth__left__prg2 {
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 12px;
}

.fifth__left__prg3 {
    max-width: 514px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 14px;
}

.sctn__fifth__right {
    width: 50%;
    height: 37.5vw;
    background-image: url(images/image-main-fifth.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.sctn__fifth__block {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    align-items: center;
    justify-content: right;
}

/* секция 6 */
.sctn__sixth {
    width: 100%;
    height: 41.66vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(images/image-main-sixth.svg);
    background-size: cover;
}

/* секция 7 */
.sctn__seventh {
    width: 100%;
    height: 414px;
}

.sctn__seventh__wrap {
    max-width: 575px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.sctn__seventh__block1 {
    font-size: 40px;
    line-height: 42px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.sctn__seventh__block2 {
    font-size: 24px;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
    text-align: center;
}


/* футер */

.footer {
    width: 100%;
}

.footer__wrap {
    max-width: 1168px;
    margin-left: auto;
    margin-right: auto;

}

.footer__line {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

.footer__block1 {
    display: flex;
    padding-bottom: 25px;
}

.footer__block1__column1 {
    width: 65%;
}

.footer__column1__header {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
}

.footer__column1__content {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}

.footer__block1__column2 {
    width: 25%;
}

.footer__column__header {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer__column__content {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

.footer__block2 {
    width: 100%;
    height: 132px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__block2__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__block2__header {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer__block2__content {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}

.footer__block2__right {
    width: 460px;
    height: 52px;
    background-color: #ffffff; 
    border-radius: 12px;
    display: flex;
    align-items: center;

}

.footer__block2__rightBlack {
    width: 63px;
    height: 30px;
    background-color: #000000;
    border-radius: 11px;
    margin-left: auto;
    margin-right: 10px;
}

.footer__block3 {
    width: 100%;
    height: 180px;
    display: flex;
    padding-top: 50px;
    
}

.footer__block3__left {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
    
}

.footer__block3__right {
    display: flex;
    margin-left: auto;
}

.footer__image {
    width: 24px;
    height: 24PX;
    margin-left: 25px;
}