html, body{
    box-sizing: border-box;
    background-color: #000000;
    margin: 0;
}

a.text:active, /* для активной/посещенной ссылке */
a.text:hover,  /* при наведении */
a {
  text-decoration: none;
}

img {
    height: 100%;
    width: 100%;
}

/* ------ шапка ------ */

.header {
    /* background-color: #acacac; */ /* - */
    width: 100%;
    height: 90px;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    /* background-color: #a57d7d; */ /* - */
    max-width: 1168px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.header-logo {
    display: flex;
    width: 300px; /* ? */
    height: 100%;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.header-logo a {
    color: #ffffff;
}


.navigation {
    display: flex;
    align-items: center;
    background-color: #000000;
}

.navigation__btn {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navigation__btn:hover {
    color: #cfcfcf;
}

.navigation__btn__white {
    width: 155px;
    height: 42px;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navigation__btn__white:hover {
    background-color: #cfcfcf;
}


/* ---------- основной контент ------------ */

.main {
    width: 100%;
}

.sctn__first {
    width: 100%;
    height: 49.7vw;

    background-image: url(images/image-main-first.svg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: end; 
    align-items: center;
}


.sctn__first__block1 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
    letter-spacing: 2px;
}

.sctn__first__block2 {
    font-size: 54px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.sctn__first__block3 {
    max-width: 580px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
    line-height: 20px;
    text-align: center;
}

.sctn__first__block4 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #000000; /* - */
    color: #FFFFFF;
    align-items: center;
    justify-content: right;
    padding-right: 70px;
    /* margin-right: 70px; */
}

.block4__label {
    display: flex;
    margin-left: 18px;
}

.block4__label div {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 6px;
}
/* вторая секция */
.sctn__second {
    padding-top: 110px;
    padding-bottom: 40px;
    /* background-color: #686868; */ /* - */
    display: flex;
    flex-direction: column;
    justify-content: end; 
    align-items: center;
}

.sctn__second__block1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

.sctn__second__block2 {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}


/* третья секция */
.sctn__third {
    width: 1168px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.sctn__third__card {
    width: 576px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end; 
}

.card__block1 {
    margin-left: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    /* line-height: 20px; */
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card__block2 {
    margin-left: 30px;
    margin-right: 45px;
    margin-bottom: 15px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #C0C0C0;
}

.card__block3 {
    width: 143px;
    height: 42px;
    margin-left: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 14px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.card__block3__circle {
    width: 32px;
    height: 32px;
    border-radius: 12px;
    background-color: #000000;
    margin-right: 5px;
}

.card__block3__text {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}


#card1 {
    background-image: url(images/sec-3-card-1.svg);
}

#card2 {
    background-image: url(images/sec-3-card-2.svg);
}

#card3 {
    background-image: url(images/sec-3-card-3.svg);
}

#card4 {
    background-image: url(images/sec-3-card-4.svg);
}

.sctn__fourth {
    width: 100%;
    height: 41.66vw;

    background-image: url(images/image-main-fourth.svg);
    background-size: cover;
}
